@model Checkmate.Models.UserForm

@{
    ViewData["Title"] = "Create";
}

<h3>Enregistrer un nouveau joueur</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control">
                    <option value="0">M</option>
                    <option value="1">F</option>
                    <option value="2">Autre</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elo" class="control-label"></label>
                <input asp-for="Elo" class="form-control" />
                <span asp-validation-for="Elo" class="text-danger"></span>
            </div>
            <br />
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["error"]
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-sm">
                    <i class="fa-regular fa-chess-queen"></i>
                    Créer
                </button>
                <a class="btn btn-sm" asp-action="Index">
                    <i class="fa-regular fa-chess-pawn"></i>
                    Retour
                </a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
