@model Checkmate.Models.TournamentForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TournamentForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPlayer" class="control-label"></label>
                <input asp-for="MinPlayer" class="form-control" />
                <span asp-validation-for="MinPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPlayer" class="control-label"></label>
                <input asp-for="MaxPlayer" class="form-control" />
                <span asp-validation-for="MaxPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinElo" class="control-label"></label>
                <input asp-for="MinElo" class="form-control" />
                <span asp-validation-for="MinElo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxElo" class="control-label"></label>
                <input asp-for="MaxElo" class="form-control" />
                <span asp-validation-for="MaxElo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select class="select2" asp-for="Category" class="form-control">
                    <option value="1">Junior</option>
                    <option value="2">Senior</option>
                    <option value="4">Veteran</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WomenOnly" /> @Html.DisplayNameFor(model => model.WomenOnly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CloseDate" class="control-label"></label>
                <input asp-for="CloseDate" class="form-control" />
                <span asp-validation-for="CloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a class="btn btn-sm btn-success" asp-action="Index">
    <i class="fa-solid fa-arrow-left"></i>
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
