

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tournament" asp-action="Create">Creer un nouveau tournoi</a>
        </li>
    </ul>
</div>
<div>
    <h3>Liste des tournois</h3>
</div>
@* <table class="table table-bordered"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th>Nom</th> *@
@*             <th>Lieu</th> *@
@*             <th>MaxPlayer</th> *@
@*             <th>Category</th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in Model) *@
@*         { *@
@*             <tr> *@
@*                 <td>@item.Ref</td> *@
@*                 <td>@item.LastName</td> *@
@*                 <td>@item.FirstName</td> *@
@*                 <td>@item.NbOrders</td> *@
@*                 <td></td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@