

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tournament" asp-action="Create">Creer un nouveau tournoi</a>
        </li>
    </ul>
</div>
<div>
    <h3>Liste des tournois</h3>
</div>