@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Bienvenue sur Checkmate</h1>
    <br />
    <img src="/images/chessFont2.png" alt="ChessImg" />
    <h3> <a asp-controller="Auth" asp-action="Login">Connectez</a> vous pour voir les tournois</h3>
</div>
